CORS_ORIGIN="Give your origin here"
MONGODB_URI="Give your MongoDB URL"
PORT="Give PORT for backend"
JWT_SECRET="Any secret you can give"
EMAIL="Set Email from where you want to send email"
EMAIL_PASS="Email APP key"
ARCJET_KEY="Provide the arcjet key here"